/* container/columns */
.container-fluid, .row, .col {
    flex-wrap: nowrap;
    height: 100vh;
}

#col-1 {
    background-color: #2C3333;
}

#col-2 {
    background-color: #A5C9CA;
}

#col-3 {
    background-color: #E7F6F2;
}
